*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.form{
    width: 25%;
    height: 100%;
    margin: auto;
    margin-top: 10% ;
    border: solid 1px black;
    border-radius: 5px;
    padding-bottom: 20px;
}
.logo{
    float: left;
    padding-left: 10px;
}
.exit{
    float: right;
    padding-right: 10px;
}
.form-top{
    padding: 10px;
    background-color: rgb(28,205,176);  
    text-align: center;
    color: white;
    font-size: 20px; 
}
.form-group{
    padding: 3px;
}
.form input{
    padding: 3px;
    width: 83%;
    margin: 10px 10px;
    border: none;
}
.forget{
    padding: 7.5px 15px;
    font-size: 13px;
}
.register{
    float: right;
    padding: 0px 17.5px 7.5px 0px;
    
}
.button button{
    width: 90%;
    padding: 5px;
    margin: 10px 3px 5px 12.5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

h6{
    padding: 30px 5px;
    text-align: center;
}

#el{
    margin-top: 20px;
    background-color: rgb(155, 236, 9);
}

